.header {
  position: relative;
  border-bottom: calc(0.0625rem * var(--mantine-scale)) solid
    var(--mantine-color-gray-2);
  background-color: #c9e9f0;
  display: flex;
  color: black;
  display: flex;
  // gap: 25rem;
  padding: 4px 0px;
  // box-shadow: -1px -3px 10px 0px;
  align-items: center;
  .image {
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
    .ministry_logo {
      border-right: 1px solid black;
      padding-right: 1rem;
    }
  }
  h4 {
    font-family: Sans;
    line-height: 1.2;
    font-weight: 550;
    background-color: #0048a4;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  img {
    padding: 2px;
    height: 4rem;
    width: auto;
  }
}
.heading {
  display: flex;
  align-items: center;
  gap: 35rem;
}
